<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664144230061-tgcbcoempmtse9onbnf2slu7m97rgm0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664144230061-tgcbcoempmtse9onbnf2slu7m97rgm0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBCo5pPKiK7q_D27euLnE704j8mqW3do8k</string>
	<key>GCM_SENDER_ID</key>
	<string>664144230061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sebastianottow.com.ug.FoodMe</string>
	<key>PROJECT_ID</key>
	<string>foodmemvp</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmemvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664144230061:ios:c99bca2c79ba324c297824</string>
	<key>DATABASE_URL</key>
	<string>https://foodmemvp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>